.float-left{
    float: left;
}
.float-right{
    float: right;
}
h1{
    margin-top: -5px;
   /* text-align: center */
      
}
h2{
    font-size: 20px;
    opacity: 0.4;
    /* margin-left: 10px; */
}
h3{
    float: left;
    font-size:18px;
    padding: 0px;
    font-style: oblique;
}
button{
    padding: 15px;
    background: blue;
    color:white;
    width:40%;
    border: none;
    border-radius: 5px;
}
.icon{
    color:red;
     margin-left: -10px;
}
span{
    font-size: 22px;
    margin-top: -30px;
    /* font-weight: bold; */
}
hr{
    opacity: 0.1;
    box-shadow: 1px 1px 5px lightgrey;
}